/* Import y * */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca:wght@100&display=swap');


/* Root para las variables de colores */
:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-grey: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Diseño fondo, parrafos/textos, imagen */

.fondo {

  background: url(./images/bg-pattern-top.svg) -237px -550px no-repeat,
    url(./images/bg-pattern-bottom.svg) 733px 397px no-repeat;
  background-color: var(--dark-cyan);
  font-family: 'Kumbh Sans', sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: white;
  width: 20rem;
  height: 26rem;
  border-radius: 20px;
}

.header-card {
  background-image: url(./images/bg-pattern-card.svg);
  background-size: cover;
  border-radius: 20px 20px 0px 0px;
  height: 35%;


}

.header-card img {
  border: solid 4px white;
  border-radius: 50px;
  display: block;
  margin: 0 auto;


}

img {
  position: relative;
  top: 6rem;
}

.card-body p {
  padding-top: 0.5em;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  font-size: 80%;
  padding-top: 6em;
  padding-bottom: 2em;
}

.card-body h2 {
  color: var(--very-dark-desaturated-blue);
}

.card-body p,
.card-body span {
  color: var(--dark-grey);
}


.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

hr {
  background-color: var(--dark-grey);
  opacity: 0.2;

}

.stats {
  padding: 1.5rem;
}

.stats h3 {
  color: var(--very-dark-desaturated-blue);
  text-align: center;
  padding-top: 0.8rem;
}

.stats p {
  text-align: center;
  font-size: 75%;
  padding-top: 0.25rem;
  color: var(--dark-grayish-blue)
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */
@media only screen and (max-width:375px) {
  .fondo {
    background: url(./images/bg-pattern-top.svg) 121% 192% no-repeat,
      url(./images/bg-pattern-bottom.svg) -31% -51% no-repeat;
    background-color: var(--dark-cyan);
  }

}